<footer>
  <div class="attribute flex">
    <p>made by <span>rahul</span> |</p>
    <div class="flex">
      <a href="https://github.com/Rahul-025" target="_blank">
        <img src="/img/github-icon.png" />
      </a>
      <a href="https://www.linkedin.com/in/rahulmahato/" target="_blank">
        <img src="/img/linkedin-icon.png" />
      </a>
    </div>
  </div>
</footer>
</html>
